// Make a variable
$main-font : 'Titillium Web',
sans-serif;
$second-font: 'Quicksand',
sans-serif;
$main-color : #fdfdfd;
$ambient-color : orange;

// create mixin for all submenu
@mixin submenu {
    padding-top: 10px;
    padding-left: 25px;

    li {
        padding-bottom: 5px;

        a {
            color: #333;
            font-size: 14px;
        }
    }
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 200px;
    border-right: .5px dotted #fefefe;
    padding: 30px 20px;
    background-color: $main-color;

    .wrapper-menu {
        p {
            font-family: $second-font;
            color: #777;
            text-align: center;
            font-size: 14px;
        }

        .menu,
        .sub-menu-one,
        .sub-menu-two,
        .sub-menu-three,
        .sub-menu-four {
            list-style-type: none;
        }
    }
}