// Make a variable
$main-font : 'Titillium Web',
sans-serif;
$second-font: 'Quicksand',
sans-serif;
$main-color : #f8f8f8;
$ambient-color : orange;

// create mixin for all submenu
@mixin submenu {
    padding-top: 10px;
    padding-left: 25px;

    li {
        padding-bottom: 5px;

        a {
            color: #333;
            font-size: 14px;
        }
    }
}

// create strip to divide each submenu
.strip {
    border: .5px solid #999;
}

// add active submenu
.list-active {
    font-weight: bold;
    color: $ambient-color !important;
}

.sidebar {
    height: 100vh;
    position: fixed;
    width: 200px;
    border-right: .5px dotted #fefefe;
    padding: 30px 20px;
    background-color: $main-color;

    @media screen and (max-width: 600px) {
        display: none;
    }

    .wrapper-menu {
        p {
            font-family: $second-font;
            color: #777;
            text-align: center;
            font-size: 14px;
        }

        .menu,
        .sub-menu-one,
        .sub-menu-two,
        .sub-menu-three,
        .sub-menu-four {
            list-style-type: none;
        }

        .menu {
            padding: 15px;
            font-family: $second-font;
            overflow: auto;
            cursor: pointer;

            .fas {
                color: #000;
            }

            a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
            }

            a:hover {
                font-weight: bold;
                text-decoration: none;
            }

            .sub-menu-one,
            .sub-menu-two,
            .sub-menu-three,
            .sub-menu-four {
                @include submenu;
            }

            .sub-menu-two,
            .sub-menu-three,
            .sub-menu-four {
                display: none;
            }
        }
    }
}

// style for sidenav
#navbar-mobile {
    padding-right: 30px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: #212121;

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: orange;
        text-decoration: none;
    }

    .menu,
    .sub-menu-one,
    .sub-menu-two,
    .sub-menu-three,
    .sub-menu-four {
        list-style-type: none;
    }

    .menu {
        padding: 15px;
        font-family: $second-font;
        overflow: auto;
        cursor: pointer;

        .list-active-onMobile {
            font-weight: bold;
            color: orange !important;
        }

        .fas {
            color: #fff;
        }

        a {
            color: #fff !important;
            font-size: 14px;
            text-decoration: none;
        }

        a:hover {
            font-weight: bold;
            text-decoration: none;
        }

        .sub-menu-one,
        .sub-menu-two,
        .sub-menu-three,
        .sub-menu-four {
            @include submenu;
        }

        .sub-menu-two,
        .sub-menu-three,
        .sub-menu-four {
            display: none;
        }
    }
}